Name: Vrushaket P. Chaudhari

Roll No: 31305

Class : TE-03

Batch : K3

Subject : DSBDAL

Assignment : 1. Data Wrangling I

## Import all the required Python Libraries.

In [22]:
import pandas as pd
import numpy as np
import os

## Load the Dataset into pandas data frame.

In [23]:
data = pd.read_csv('./melb_data.csv')

In [24]:
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,...,1,NaN,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,3150,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,3016,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,3016,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,3016,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,3013,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

## Data Preprocessing: check for missing values in the data using pandas isnull(), describe() function to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  int64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom2       13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13517 non-null  float64
 13  Landsize       13580 non-null  int64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

In [26]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                63
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [27]:
print(data['Car'].value_counts().idxmax())
data['Car'].replace(np.nan, 0, inplace=True)

2.0

In [28]:
avg_buildingArea = data["BuildingArea"].astype("float").mean()
data["BuildingArea"].replace(np.nan, avg_buildingArea, inplace = True)

avg_YearBuilt = data["YearBuilt"].astype("float").median()
data["YearBuilt"].replace(np.nan, avg_YearBuilt, inplace = True)

data["CouncilArea"].replace(np.nan, "Bayside", inplace = True)

In [29]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.602651,558.416127,151.967650,1966.788218,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.966632,3990.669241,392.002962,29.088642,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,122.000000,1960.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,151.967650,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,151.967650,1975.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [30]:
data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [31]:
categorical_columns = list(data.select_dtypes(include=['object']).columns)
categorical_columns

['Suburb',
 'Address',
 'Type',
 'Method',
 'SellerG',
 'Date',
 'CouncilArea',
 'Regionname']

In [32]:
numerical_columns = list(data.select_dtypes(exclude=['object']).columns)
numerical_columns

['Rooms',
 'Price',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [33]:
data.shape

(13580, 21)

## Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions

In [34]:
data.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price              int64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int64
Bedroom2           int64
Bathroom           int64
Car              float64
Landsize           int64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount      int64
dtype: object

In [35]:
data['Car'] = data.Car.astype(int)
data['YearBuilt'] = data.YearBuilt.astype(int)

In [36]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,...,1,0,202,151.96765,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,...,1,0,156,79.00000,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,...,2,0,134,150.00000,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,...,2,1,94,151.96765,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,...,1,2,120,142.00000,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

## Turn categorical variables into quantitative variables in Python

In [37]:
categorical_columns = data.select_dtypes(include=['object'])
categorical_columns

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname
0,Abbotsford,85 Turner St,h,S,Biggin,03-12-2016,Yarra,Northern Metropolitan
1,Abbotsford,25 Bloomburg St,h,S,Biggin,04-02-2016,Yarra,Northern Metropolitan
2,Abbotsford,5 Charles St,h,SP,Biggin,04-03-2017,Yarra,Northern Metropolitan
3,Abbotsford,40 Federation La,h,PI,Biggin,04-03-2017,Yarra,Northern Metropolitan
4,Abbotsford,55a Park St,h,VB,Nelson,04-06-2016,Yarra,Northern Metropolitan
...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,h,S,Barry,26-08-2017,Bayside,South-Eastern Metropolitan
13576,Williamstown,77 Merrett Dr,h,SP,Williams,26-08-2017,Bayside,Western Metropolitan
13577,Williamstown,83 Power St,h,S,Raine,26-08-2017,Bayside,Western Metropolitan
13578,Williamstown,96 Verdon St,h,PI,Sweeney,26-08-2017,Bayside,Western Metropolitan
13579,Yarraville,6 Agnes St,h,SP,Village,26-08-2017,Bayside,Western Metropolitan

In [38]:
categorical_dummies = pd.get_dummies(categorical_columns)
categorical_dummies

,Suburb_Abbotsford,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,Suburb_Albert Park,Suburb_Albion,Suburb_Alphington,Suburb_Altona,Suburb_Altona Meadows,Suburb_Altona North,...,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13577,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13578,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
13579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [39]:
data = data.drop(list(categorical_columns.columns), axis=1)
data = pd.concat([data, categorical_dummies], axis=1)

In [40]:
data.dtypes

Rooms                                      int64
Price                                      int64
Distance                                 float64
Postcode                                   int64
Bedroom2                                   int64
                                          ...
Regionname_Northern Victoria               uint8
Regionname_South-Eastern Metropolitan      uint8
Regionname_Southern Metropolitan           uint8
Regionname_Western Metropolitan            uint8
Regionname_Western Victoria                uint8
Length: 14080, dtype: object

In [41]:
data.sample(5)

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,...,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
7952,5,3750000,7.5,3123,5,3,4,858,151.96765,1970,...,0,0,0,0,0,0,0,1,0,0
10417,4,980000,16.2,3094,4,3,2,701,300.00000,1993,...,0,0,1,0,0,0,0,0,0,0
5660,2,630000,3.3,3141,2,1,1,0,151.96765,1970,...,0,0,0,0,0,0,0,1,0,0
12347,4,560000,17.4,3048,4,3,2,572,151.96765,1970,...,0,0,0,0,1,0,0,0,0,0
4198,3,1025000,8.4,3015,3,2,2,301,195.00000,1970,...,0,0,0,0,0,0,0,0,1,0